doctype html
html
  head
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous")
      block head
        title="App Overflow"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="stylesheet", href="/stylesheets/layout.css")
        link(rel="stylesheet", href="/stylesheets/questions.css")
        link(rel="stylesheet", href="/stylesheets/login-style.css")
        link(rel="stylesheet", href="/stylesheets/user-signup.css")
        link(rel="stylesheet", href="/stylesheets/user-profile.css")

  body
    nav.nav
      .hambuger-container: i(class="fas fa-bars" id="hamburger")
      .nav-logo-container.nav-hover
        a(href="/"): img(src='/images/AOLogo.png' class="nav-logo ")
      ul.nav-list
        li.nav-list-item: a(href="/" class="nav-hover nav-list-link") Questions
        li.nav-list-item: a(href="/questions" class="nav-hover nav-list-link") New Question
        li.nav-list-item: a(href="/users" class="nav-hover nav-list-link") Users
      .nav-form-container
        .nav-search-icon-container
          .nav-search-box
            i(class="fas fa-search" id="nav-search-icon")
        form(action="/search", method="post")
          input(type="hidden", name="_csrf" value="csrfToken")
          input(class="form-input" type="search", name="search" placeholder='Search...')
      .nav-action-btns
      if (!locals.authenticated)
        a(href="/users/login" class="nav-action-login")  Login
        a(href="/users/signup" class="nav-action-signup")  Sign up
      else
        a(href=`/users/${locals.user.id}` class="fas fa-user-circle user-icon")
          span(class='user-name-profile') #{locals.user.username}
        a(href="/users/logout" class="nav-action-logout") Log out
    block content

    script(src="https://kit.fontawesome.com/80270590a0.js" crossorigin="anonymous")
