extends layout.pug 

include utils.pug 

block content 
    #signup-container
        .signup-info
            h1.signup-info-header Join the App Overflow community
            .signup-info-subsections
                i(class="far fa-question-circle")
                p.signup-info-text Get unstuck - ask a question
            .signup-info-subsections
                i(class="far fa-gem")
                p.signup-info-text Unlock new privileges like voting and commenting
            .signup-info-subsections
                i(class="fas fa-tags")
                p.signup-info-text Have an answer? Post it on a question!
            .signup-info-subsections
                i(class="fas fa-trophy")
                p.signup-info-text Forget an answer? Review your asked Questions
        .signup-form-container
            .signup-form-box
                
                form(action="/users/signup", method="post" class='signup-form')
                    input(type="hidden", name="_csrf" value=csrfToken) 
                    .login-form-inputs
                        label(for="username") Display Name 
                        input(type="text", name="username" class="login-text-field")
                    .login-form-inputs
                        label(for="email") Email 
                        input(type="email", name="email" class="login-text-field")
                    .login-form-inputs
                        label(for="password") Password
                        input(type="password", name="password" class="login-text-field")
                        p.signup-password Should contain at least 1 lowercase letter, uppercase letter, number, and special character (i.e. "!@#$%^&*")
                    .login-form-inputs
                        input(type="submit", value="Sign Up" class="login-button signup-button")
                        p.signup-warning By clicking “Sign up”, you agree to our terms of service, privacy policy and cookie policy
                form(action="/users/login/demo", method="post" class="demo-user-form") 
                    input(type="hidden", name="_csrf" value=csrfToken) 
                    input(type="hidden", name="emailAddress" value="bob@gmail.com") 
                    input(type="hidden", name="password" value='Password1!') 
                    input(type="submit", value="Demo User" class="login-button signup-button")
        if err
            .signup-error-container
                //- .signup-error-box
                .errors-container#signup-error-box
                    +validationErrorSummary(err)

