extends layout.pug 

include utils.pug 

block content 
    #signup-container
        .signup-info
            h2 Join the App Overflow community
            .signup-info-subsections
                i(class="far fa-question-circle")
                p.signup-info-text Get unstuck - ask a question
            .signup-info-subsections
                i(class="far fa-gem")
                p.signup-info-text Unlock new privileges like voting and commenting
            .signup-info-subsections
                i(class="fas fa-tags")
                p.signup-info-text Save your favorite tags, filters, and jobs
            .signup-info-subsections
                i(class="fas fa-trophy")
                p.signup-info-text Earn reputation and badges
        .signup-form-container
            .signup-form-box
                if err
                    +validationErrorSummary(err)
                form(action="/users/signup", method="post" class='sign-up-form')
                    input(type="hidden", name="_csrf" value=csrfToken) 
                    .signup-form-input
                        label(for="username") Display Name 
                        input(type="text", name="username" class="signup-form-control")
                    .signup-form-input
                        label(for="email") Email 
                        input(type="email", name="email" class="signup-form-control")
                    .signup-form-input
                        label(for="password") Password
                        input(type="password", name="password" class="signup-form-control")
                    .signup-form-input
                        input(type="checkbox", name="robot") 
                        label(for="robot") I'm not a robot
                    .signup-form-input
                    input(type="submit", value="Sign Up")

