extends layout.pug

include utils.pug

block content
    .logo-solo
        a(href="/"): img(src="/images/AOLogo_Solo.png" class="login-page-logo")
    .errors-container
        +validationErrorSummary(errors)
    div.form-card
     div.login-box
        form(action= '/users/login' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            +field('Email', 'emailAddress', emailAddress)
            +field('Password', 'password', null, 'password')
            div.login-button-container
                button(type='submit' class='login-button') Log in
                a(href='/') Cancel
     div.signup-link
         p Don't have an account?
            a(href='/users/signup')  Sign up

    form(action="/users/login/demo", method="post" class="demo-user-form login-demo-user") 
                    input(type="hidden", name="_csrf" value=csrfToken) 
                    input(type="hidden", name="emailAddress" value="bob@gmail.com") 
                    input(type="hidden", name="password" value='Password1!') 
                    input(type="submit", value="Demo User" class="login-button signup-button")