.editable{
    outline: 1px solid black;
    border-radius: 3px;
    width: 300px;
    height: 70px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.editable:nth-child(even){
    background-color: hsl(0deg 0% 100%);
}

/* question section */

.question-container{
    min-height: 500px;
    max-width: 80%;
    margin: 75px auto;
}

.question-top-section-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 3em;
    color: rgb(10,149,255);
}


.question-user-info{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(244, 130, 37, 1);
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;

}

.question-user-info-item p{
    display: inline-block;
}

.question-user-info-item i{
    margin-right: 10px;
}

.edit-btn, .confirm-btn-comment, .cancel-btn-answer, .confirm-btn-answer, .cancel-btn-comment, .delete-btn, .cancel-btn, .confirm-btn, .edit-btn-answer, .delete-btn-answer{
    color: rgb(249,252,255);
    border: 1px solid rgb(122,167,199);
    background-color: rgb(10,149,255);
    text-decoration: none;
    padding: 0.4em;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    margin: 5px;
}

.cancel-btn-comment, .cancel-btn-answer {
    background-color: rgb(255, 128, 44);
}

.delete-btn, .delete-btn-answer{
    background-color: rgb(255, 0, 0);
    margin-left: 15px;
}


.question-actions{
    float: right;
    margin-top: 50px;
}

.question-content{
    margin-top: 30px;
    min-height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    overflow-wrap: break-word;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 10%);
}


#profile-grad-icon{
    color:rgba(244, 130, 37, 1)
}

.question-user-profile-link:hover{
    color:rgba(244, 130, 37, 1);
}

/* answer form section */

.questions-add-answer-box{
    height: 200px;
    width: 80%;
    margin: 0 auto;
}

.question-answer-header, .question-answer-header span{
    font-size: 30px;
    margin-bottom: 20px;
}

.question-answer-header span{
    color:rgba(244, 130, 37, 1);
}

.question-answer-form{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.question-answer-textarea{
    max-width: 100%;
    min-height: 200px;
}

.post-answer{
    width: 150px;
}

/* answer list section */

.answerContainer{
    width: 600px;
    margin: 0 auto 50px;
}

.answer-list-header-box h2{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.answer-list-header-box i{
    font-size: 30px;
}

.answer-list-item {
    display: grid;
    grid-template-rows: 60% 20% 20%/20% 40% 40%;
    justify-content: center;
}

.answer-content {
    height: fit-content;
    min-height: 100px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(122,167,199, .2);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    min-width: 700px;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow-wrap: break-word;
}

.posting-comment-andcomments-container {
    width: 700px;
    grid-column-start: 2;
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

.new-comment-post-box {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.create-comment-content + button {
    color: rgb(249,252,255);
    border: 1px solid rgb(122,167,199);
    background-color: rgb(10,149,255);
    text-decoration: none;
    padding: 0.4em;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    margin: 5px;
}

.create-comment-content {
    padding: 10px;
    height: 75px;
    border: solid 1px;
    border-radius: 3px;
}

.answer-add-comment-box{
    display: none;
    /* visibility: hidden; */
    flex-direction: column;
    align-items: flex-end;
}

.buttons-comment-action{
    min-width: 300px;
    width: fit-content;
    height: fit-content;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.post-comment-btn-parent {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
    display: flex;
    justify-content: flex-end;
}

.show-comment-form {
    width: fit-content;
}

.comment-list-item{
    max-width: 550px;
    max-height: 200px;
    min-width: 500px;
    /* background-color: rgb(255, 255, 255); */
    padding: 10px;
    border: rgb(10,149,255) solid 1px;
    border-radius: 5px;
    margin: 5px;
    overflow-wrap: break-word;
}

.commentListContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
}

.comment-content{
    margin-bottom: 30px;
}

.buttonsContainer{
    margin-top: 30px;
}

.answer-add-comment-box {
    grid-column-start: 2;
}

.votes-container {
    grid-column-start: 1;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3px 10px 3px 0;
}

.vote-down-btn-style {
    width: 50px;
    height: 25px;
    background-color: rgb(255, 0, 0);
    border-radius: 3px;
    border: none;
    color: white;
}

.vote-up-btn-style {
    width: 50px;
    height: 25px;
    background-color: rgb(10,149,255);
    border-radius: 3px;
    border: none;
    color: white;
}

.vote-score, .vote-card {
    font-size: 30px;
    display: flex;
    justify-content: center;
}
